# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Byte-compiled
*.egg-info/
.eggs/

# MySQL dumps
*.sql
*.sql.gz

# OS files
.DS_Store
Thumbs.db
